{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | relURL }}" role="button">Découvrir la plateforme.</a>
      <p class="meta">(PS : Rien à voir avec Spinster XYZ, le réseau social des TERFs.)</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">En non-mixité trans…</h2>
        <p>C'est très important pour nous que les personnes qui subissent des discriminations puissent se rassembler et échanger entre elles.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">…Mais pas un safe space</h2>
        <p>Comme l'explique <a href="https://vacarme.org/article2766.html">Jack Halberstam dans « Tu me fais violence »</a>, la notion de safe space constitue un échec politique qui empêche les solidarités.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Les conflits ne sont pas des agressions</h2>
        <p>On ne peut pas s'entendre avec tout le monde. Parfois il y aura des conflits qui ne pourront être résolus immédiatement et on compte sur chacun⋅e pour faire de son mieux et éviter l'escalade.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Content Warning</h2>
        <p>Spinster Party te permet d'utiliser des Content Warnings facilement. Fait en un usage responsable et respectueux.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Images sensibles</h2>
        <p>Spinster Party te permet de marquer une image comme étant sensible (un peu comme sur Discord). Là aussi, un usage responsable et respectueux est demandé.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Choisi ton audience</h2>
        <p>Pour chaque post tu pourras décider si tu veux qu'il soit visible pour toustes les membres de Spinster Party, pour une partie de Spinster Party ou uniquement pour tes followers.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
